.container {
  padding: 29px;
  margin-top: 19px;
  border: 1px solid #fcfcfc33;
  width: 351px;
  height: 600px;
  background-color: #040b10;
}
.rightcontainer {
  width: 100%;
}
.fixedcontainer {
  width: 94%;
  margin-top: 19px;
  background-color: #040b10;
  border: 1px solid #fcfcfc33;
  padding: 29px;
}
@media (max-width: 492px) {
  .container {
    padding: 20px;
    width: auto;
    height: auto;
  }
  .rightcontainer {
    width: 100%;
  }
  .fixedcontainer {
    width: auto;
    margin-top: 19px;
    background-color: #040b10;
    border: 1px solid #fcfcfc33;
    padding: 19px;
  }
}
@media screen and (max-width: 992px) and (min-width: 493px) {
  .container {
    padding: 20px;
    width: auto;
    height: auto;
  }
  .rightcontainer {
    width: auto;
  }
  .fixedcontainer {
    width: auto;
    margin-top: 19px;
    background-color: #040b10;
    border: 1px solid #fcfcfc33;
    padding: 19px;
  }
}
