@charset "UTF-8";
.background {
  display: flex;
  flex-direction: column;
}
.background .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.background .logo .images {
  display: flex;
  align-items: center;
  gap: 10px;
}
.background .logo .images .fb {
  border: 1px solid rgba(251, 251, 251, 0.1764705882);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #041118;
}
.background .logo .images .fb img {
  width: 60px;
  height: 60px;
}
.background .logo .images .name h2 {
  color: #c0c0c0;
  font-size: 18px;
  font-weight: 500;
  line-height: 14.4px;
  letter-spacing: 1.5px;
}
.background .logo .time {
  color: #c0c0c0;
  font-size: 18px;
  font-weight: 500;
  line-height: 14.4px;
  letter-spacing: 1.5px;
}
.background .fatima {
  display: flex;
  gap: 18px;
  align-items: center;
  margin-top: 11px;
  border: 1px solid rgba(251, 251, 251, 0.1764705882);
  background-color: #041118;
  padding: 29px;
}
.background .fatima .mephoto img {
  -o-object-fit: cover;
     object-fit: cover;
}
.background .fatima .aboutme {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.background .fatima .aboutme h1 {
  color: #f9f9f9;
  font-size: 12px;
  font-weight: 500;
}
.background .fatima .aboutme h2 {
  display: flex;
  align-items: center;
  font-size: 11px;
  gap: 4px;
  color: #8e8e8e;
}
.background .fatima .aboutme h3 {
  font-size: 11px;
  color: #8e8e8e;
}
.background .menu {
  padding-top: 60px;
}
.background .menu .menubackground {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 15px;
  padding: 19px;
  background-color: initial; /* İlk arka plan rengi */
  transition: background-color 0.5s ease-out; /* Geçiş süresi ve animasyon tipi */
}
.background .menu .menubackground h2 {
  color: rgba(249, 249, 249, 0.5137254902);
  font-size: 15px;
  font-weight: 400;
  line-height: 14.4px;
}
.background .menu .menubackground:hover {
  border: 1px solid rgba(251, 251, 251, 0.1764705882);
  background-color: #041118;
}
.background .menu .menubackground:hover h2 {
  color: white;
}
.background .menu .active {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 15px;
  padding: 19px;
  border: 1px solid rgba(251, 251, 251, 0.1764705882);
  background-color: #041118;
}
.background .menu .active .icon1 svg {
  opacity: 1;
}
.background .menu .active h2 {
  color: white;
}
.background .contacts {
  display: flex;
  padding-top: 40px;
}
.background .contacts .iconsbackground {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  border: 1px solid rgba(251, 251, 251, 0.1764705882);
  background-color: #041118;
  padding: 15px 27px;
}
.background .contacts .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  background-color: #101d24;
  border: 1px solid rgba(251, 251, 251, 0.1764705882);
  padding: 21.5px;
}
.background .contacts .copyright h1 {
  color: #f9f9f9;
  font-size: 11px;
  font-weight: 400;
}

@media (max-width: 492px) {
  .background .fatima {
    display: none;
  }
  .background .menu {
    display: none;
  }
  .background .contacts {
    display: none;
  }
}/*# sourceMappingURL=index.module.css.map */