.home {
  .left {
    position: fixed;
  }
  .right {
    margin-left: 430px; 
    width: calc(
      100% - 430px
    ); 
  }
}
@media (max-width: 492px) {
  .home {
    
    .left {
      position: relative;
    }
    .right {

      margin-left: 0; 
      width: 100%;
    }
  }
}
