.background {
  .control {
    display: flex;
    align-items: center;
    gap: 19px;
    .leftphoto {
      img {
        width: 50px;
      }
    }
    .controlright {
      .righthero {
        border: 1px solid #fbfbfb2d;
        background-color: #041118;

        .heroheader {
          display: flex;
          gap: 16px;
          justify-content: space-between;
          padding: 27px;
          .online {
            padding: 14px 33px;
            background-color: #0b1622;
            border: 1px solid #fbfbfb2d;
            h2 {
              display: flex;
              align-items: center;
              gap: 8px;
              font-size: 13px;
              font-weight: 400;
              line-height: 13px;
              color: #f9f9f9;
            }
            a {
              text-decoration: none;
              display: flex;
              align-items: center;
              gap: 8px;
              font-size: 13px;
              font-weight: 400;
              line-height: 13px;
              color: #f9f9f9;
            }
          }
        }
      }
      .aboutme {
        display: flex;
        justify-content: space-between;
        gap: 19px;
        .leftabout {
          display: flex;
          flex-direction: column;
          gap: 30px;
          padding: 28px;
          background-color: #0b1622;
          border: 1px solid #fbfbfb2d;
          .jobtitle {
            h2 {
              font-size: 10px;
              font-weight: 400;
              line-height: 10px;
              letter-spacing: 0.3799999952316284px;
              color: #bcbcbcb2;
            }
          }
          .myname {
            h1 {
              color: #f9f9f9;
              font-size: 30px;
              font-weight: 500;
              line-height: 30px;
              letter-spacing: -0.75px;
            }
          }
          .experience {
            p {
              color: #8e8e8e;
              font-size: 12.9px;
              font-weight: 400;
              line-height: 26.7px;
              letter-spacing: 0.23000000417232513px;
            }
          }
        }
        .rightabout {
          background-color: #0b1622;
          border: 1px solid #fbfbfb2d;
          .locations {
            padding: 18px;
            display: flex;

            gap: 15px;
            .baku {
              padding: 13px 19px;
              background-color: #07151e;
              border: 1px solid #fbfbfb2d;
              h2 {
                color: #f9f9f9;
                font-size: 13px;
                font-weight: 400;
                line-height: 14.4px;
              }
            }
            .azerbaijan {
              padding: 13px 19px;
              display: flex;
              align-items: center;
              gap: 5px;
              background-color: #07151e;
              border: 1px solid #fbfbfb2d;
              h2 {
                color: #f9f9f9;
                font-size: 13px;
                font-weight: 400;
                line-height: 14.4px;
              }
            }
          }
          .screenphoto {
            display: flex;
            justify-content: flex-end;
            padding: 15px;

            img {
              object-fit: cover;

              height: 215px;
            }
          }
        }
      }
    }
  }
  .projects {
    background-color: #040b0f;
    .projecttitle {
      display: flex;
      justify-content: space-between;
      border: 1px solid #fbfbfb2d;
      background-color: #040e14;
      padding: 15px;
      .projectname {
        display: flex;
        align-items: center;
        border: 1px solid #fbfbfb2d;
        background-color: #051722;
        padding: 12px 20px;
        h2 {
          color: #f9f9f9;
          font-size: 13px;
          font-weight: 400;
          line-height: 14.4px;
          letter-spacing: 0.23000000417232513px;
        }
      }
      .projectoverview {
        border: 1px solid #fbfbfb2d;
        padding: 12px 20px;
        background-color: #041016;
        p {
          color: #f9f9f9b6;
          font-size: 12px;
          font-weight: 400;
          line-height: 14.4px;
        }
      }
    }
    .maps {
      padding-top: 18px;
      background-color: #040e14;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 26px;
      .border {
        width: 28%;
        background-color: #050e14;
        border: 1px solid #fbfbfb2d;
        padding: 8px;
        .images {
          img {
            width: 100%;
          }
        }
        .mapsname {
          padding-top: 17px;
          padding-bottom: 27px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .mapstext {
            display: flex;
            flex-direction: column;
            gap: 11px;
            h1 {
              font-size: 16px;
              font-weight: 500;
              line-height: 16px;
              letter-spacing: -0.75px;
              color: #f9f9f9;
            }
            h2 {
              color: #8e8e8e;
              font-size: 12px;
              font-weight: 400;
              line-height: 12px;
              letter-spacing: 0.22499999403953552px;
            }
          }
          .mapsicon {
            background-color: #040f16;
            border: 1px solid #fbfbfb2d;
            padding: 11px 14px;
          }
        }
      }
    }
  }
  .customers {
    background-color: #040b0f;
    .customerstitle {
      display: flex;
      justify-content: space-between;
      border: 1px solid #fbfbfb2d;
      background-color: #040e14;
      padding: 15px;
      .customersname {
        display: flex;
        align-items: center;
        border: 1px solid #fbfbfb2d;
        background-color: #051722;
        padding: 12px 20px;
        h2 {
          color: #f9f9f9;
          font-size: 13px;
          font-weight: 400;
          line-height: 14.4px;
          letter-spacing: 0.23000000417232513px;
        }
      }
      .customersoverview {
        border: 1px solid #fbfbfb2d;
        padding: 12px 20px;
        background-color: #041016;
        p {
          color: #f9f9f9b6;
          font-size: 12px;
          font-weight: 400;
          line-height: 14.4px;
        }
      }
    }
    .customersmarke {
      display: flex;
      justify-content: space-between;
      padding: 19px;
      margin-top: 20px;
      border: 1px solid #fbfbfb2d;
      background-color: #040a0e;
      .google {
        display: flex;
        align-items: center;
        border: 1px solid #fbfbfb2d;
        background-color: #051722;
        padding: 10px 40px;
        img {
          object-fit: cover;
        }
      }
    }
    .stats {
      display: flex;
      justify-content: space-between;
      gap: 19px;
      padding-top: 18px;
      .stat {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid #fbfbfb2d;
        background-color: #050e13;
        padding: 27px 17px 27px 27px;
        h1 {
          font-size: 30px;
          font-weight: 500;
          line-height: 36px;
          letter-spacing: -0.75px;
          color: #f9f9f9;
        }
        h3 {
          color: #8e8e8e;
          font-size: 13px;
          font-weight: 400;
          line-height: 13px;
          letter-spacing: 0.23000000417232513px;
        }
      }
    }
  }
  .abouteducation {
    background-color: #040b0f;
    display: flex;
    justify-content: space-between;
    gap: 18px;
    .education {
      width: 100%;
      border: 1px solid #fbfbfb2d;
      background: linear-gradient(
        270deg,
        rgba(0, 170, 255, 0.04) 0%,
        rgba(0, 170, 255, 0.02) 100%
      );
      box-shadow: 0px 1px 2px 0px #00000040;

      padding: 15px;
      .educationtitle {
        width: 105px;
        display: flex;
        justify-content: center;
        border: 1px solid #fbfbfb2d;
        background-color: #051722;
        padding: 15px 18px;
        h2 {
          color: #f9f9f9;
          font-size: 13px;
          font-weight: 400;
          line-height: 14.4px;
          letter-spacing: 0.23000000417232513px;
        }
      }
      .educationinfo {
        padding-top: 37px;

        display: flex;
        gap: 18px;
        .educationabout {
          display: flex;
          flex-direction: column;
          gap: 10px;
          h3 {
            color: #8e8e8e;
            font-size: 10px;
            font-weight: 400;
            line-height: 10px;
            letter-spacing: 0.23000000417232513px;
          }
          h1 {
            color: white;
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: -0.75px;
          }
        }
      }
    }
    .aboutexperience {
      width: 100%;
      border: 1px solid #fbfbfb2d;
      background: linear-gradient(
        270deg,
        rgba(0, 170, 255, 0.04) 0%,
        rgba(0, 170, 255, 0.02) 100%
      );
      box-shadow: 0px 1px 2px 0px #00000040;
      padding: 15px;
      .experiencetitle {
        width: 105px;
        display: flex;
        justify-content: center;
        border: 1px solid #fbfbfb2d;
        background-color: #051722;
        padding: 15px 18px;
        h2 {
          color: #f9f9f9;
          font-size: 13px;
          font-weight: 400;
          line-height: 14.4px;
          letter-spacing: 0.23000000417232513px;
        }
      }
      .experienceinfo {
        padding-top: 37px;

        display: flex;
        gap: 18px;

        .experienceabout {
          display: flex;
          flex-direction: column;
          gap: 10px;
          h3 {
            color: #8e8e8e;
            font-size: 10px;
            font-weight: 400;
            line-height: 10px;
            letter-spacing: 0.23000000417232513px;
          }
          h1 {
            color: white;
            font-size: 16px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: -0.75px;
          }
        }
      }
    }
  }
  .services {
    background-color: #040b0f;

    .servicestitle {
      display: flex;
      justify-content: space-between;
      border: 1px solid #fbfbfb2d;
      background-color: #040e14;
      padding: 15px;
      .servicesname {
        display: flex;
        align-items: center;
        border: 1px solid #fbfbfb2d;
        background-color: #051722;
        padding: 12px 20px;
        h2 {
          color: #f9f9f9;
          font-size: 13px;
          font-weight: 400;
          line-height: 14.4px;
          letter-spacing: 0.23000000417232513px;
        }
      }
      .servicesoverview {
        border: 1px solid #fbfbfb2d;
        padding: 12px 20px;
        background-color: #041016;
        p {
          color: #f9f9f9b6;
          font-size: 12px;
          font-weight: 400;
          line-height: 14.4px;
        }
      }
    }
    .servicesboxs {
      padding-top: 31px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 13px;
      .servicesborder {
        width: 41%;
        padding: 26px;
        background-color: #051017;
        border: 1px solid #fbfbfb2d;

        .servicescontrol {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          .servicestext {
            display: flex;
            flex-direction: column;
            gap: 11px;
            h1 {
              color: white;
              font-size: 16px;
              font-weight: 400;
              line-height: 16px;
              letter-spacing: -0.75px;
            }
            p {
              color: rgba(255, 255, 255, 0.548);
              font-size: 9px;
              font-weight: 400;
              line-height: 15px;
              letter-spacing: 0.23000000417232513px;
            }
            h3 {
              color: #8e8e8e;
              font-size: 13px;
              font-weight: 400;
              line-height: 14.4px;
              letter-spacing: 0.23000000417232513px;
            }
          }
          .servicesicon {
            display: flex;
            align-items: center;
            background-color: #06131c;
            padding: 11px;
          }
        }
      }
    }
  }
  .testimonial {
    background-color: #040b0f;
    .testimonialtitle {
      display: flex;
      justify-content: space-between;
      border: 1px solid #fbfbfb2d;
      background-color: #040e14;
      padding: 15px;
      .testimonialname {
        display: flex;
        align-items: center;
        border: 1px solid #fbfbfb2d;
        background-color: #051722;
        padding: 12px 20px;
        h2 {
          color: #f9f9f9;
          font-size: 13px;
          font-weight: 400;
          line-height: 14.4px;
          letter-spacing: 0.23000000417232513px;
        }
      }
      .testimonialoverview {
        border: 1px solid #fbfbfb2d;
        padding: 12px 20px;
        background-color: #041016;
        p {
          color: #f9f9f9b6;
          font-size: 12px;
          font-weight: 400;
          line-height: 14.4px;
        }
      }
    }
    .testimonialboxs {
      padding-top: 32px;
      display: flex;
      gap: 18px;
      .larry {
        background-color: #050d12;
        border: 1px solid #fbfbfb2d;
        display: flex;
        gap: 15px;
        padding: 27px;
        .larryimages {
          img {
            background-color: #061118;
            border: 1px solid #fbfbfb2d;
            padding-top: 10px;
          }
        }
        .larrytext {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 18px;
          .larryinfo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #05151d;
            border: 1px solid #fbfbfb2d;
            padding: 11px 27px;
            .larryname {
              display: flex;
              flex-direction: column;
              gap: 8px;
              h1 {
                color: #f9f9f9;
                font-size: 18px;
                font-weight: 500;
                line-height: 18px;
                letter-spacing: -0.75px;
              }
              h3 {
                color: #8e8e8e;
                font-size: 11px;
                font-weight: 400;
                line-height: 11px;
                letter-spacing: 0.23000000417232513px;
              }
            }
            .larryicon {
              display: flex;
              align-items: center;
              background-color: #0e2533;
              border: 1px solid #fbfbfb2d;
              padding: 15px;
              svg {
                opacity: 1;
              }
            }
          }
          .larryoverview {
            background-color: #05151d;
            border: 1px solid #fbfbfb2d;
            padding: 18px 29px;
            p {
              color: #8e8e8e;
              font-size: 11.81px;
              font-weight: 400;
              line-height: 21px;
              letter-spacing: 0.23000000417232513px;
            }
          }
        }
      }
    }
  }
  .contact {
    background-color: #040b0f;
    .contacttitle {
      display: flex;
      justify-content: space-between;
      border: 1px solid #fbfbfb2d;
      background-color: #040e14;
      padding: 15px;
      .contactname {
        display: flex;
        align-items: center;
        border: 1px solid #fbfbfb2d;
        background-color: #051722;
        padding: 12px 20px;
        h2 {
          color: #f9f9f9;
          font-size: 13px;
          font-weight: 400;
          line-height: 14.4px;
          letter-spacing: 0.23000000417232513px;
        }
      }
      .contactoverview {
        border: 1px solid #fbfbfb2d;
        padding: 12px 20px;
        background-color: #041016;
        p {
          color: #f9f9f9b6;
          font-size: 12px;
          font-weight: 400;
          line-height: 14.4px;
        }
      }
    }
    .contactboxs {
      padding-top: 18px;
      display: flex;
      gap: 18px;
      .leftboxs {
        width: 60%;
        background: linear-gradient(
          90deg,
          rgba(0, 170, 255, 0.01) 0%,
          rgba(0, 170, 255, 0.05) 100%
        );
        border: 1px solid #fcfcfc0d;
        display: flex;
        flex-direction: column;
        padding: 26px;
        gap: 24px;
        .inputname {
          background: linear-gradient(
            90deg,
            rgba(0, 170, 255, 0.01) 0%,
            rgba(0, 170, 255, 0.05) 100%
          );
          border: 1px solid #fcfcfc0d;
          padding: 18px 14px;
          outline: none;
          color: #f9f9f999;

          font-size: 12.8px;
          font-weight: 400;
          line-height: 16.66px;
        }
        .overviewinput {
          background: linear-gradient(
            90deg,
            rgba(0, 170, 255, 0.01) 0%,
            rgba(0, 170, 255, 0.05) 100%
          );
          border: 1px solid #fcfcfc0d;
          outline: none;
          padding: 18px 14px;
          color: #f9f9f999;
          padding-bottom: 106px;
          font-size: 12.8px;
          font-weight: 400;
          line-height: 16.66px;
        }
        button {
          background: linear-gradient(
            90deg,
            rgba(0, 170, 255, 0.01) 0%,
            rgba(0, 170, 255, 0.05) 100%
          );
          border: 1px solid #fcfcfc0d;
          padding: 18px 14px;
          outline: none;
          color: white;
          font-size: 12.8px;
          font-weight: 400;
          line-height: 16.66px;
        }
        .inputname::placeholder {
          color: #585858c0;

          font-size: 12.8px;
          font-weight: 400;
          line-height: 16.66px;
        }
      }
      .adress {
        background: linear-gradient(
          270deg,
          rgba(0, 170, 255, 0.04) 0%,
          rgba(0, 170, 255, 0.02) 100%
        );
        border: 1px solid #fcfcfc0d;
        box-shadow: 0px 1px 2px 0px #00000040;
        width: 40%;
        padding: 15px;

        .adressname {
          width: 43px;
          border: 1px solid #fbfbfb2d;
          background-color: #051722;
          padding: 13px 21px;
          h2 {
            color: #f9f9f9;
            font-size: 13px;
            font-weight: 400;
            line-height: 14.4px;
            letter-spacing: 0.23000000417232513px;
          }
        }
        .adresscontrol {
          display: flex;
          flex-direction: column;
          gap: 18px;
          margin-top: 18px;
          padding: 26px;
          background: linear-gradient(
            270deg,
            rgba(0, 170, 255, 0.04) 0%,
            rgba(0, 170, 255, 0.02) 100%
          );
          border: 1px solid #fbfbfb0d;
          box-shadow: 0px 1px 2px 0px #00000040;

          .firstadress {
            display: flex;
            align-items: flex-start;
            gap: 18px;
            .adressicon {
              padding: 18px;
              background: linear-gradient(
                270deg,
                rgba(0, 170, 255, 0.02) 0%,
                rgba(0, 170, 255, 0) 100%
              );
              border: 1px solid #fbfbfb1a;
            }
            .adresslocation {
              width: 223px;
              display: flex;
              flex-direction: column;
              gap: 11px;
              padding: 17px 27px;
              background: linear-gradient(
                270deg,
                rgba(0, 170, 255, 0.04) 0%,
                rgba(0, 170, 255, 0.02) 100%
              );
              border: 1px solid #fcfcfc0d;
              box-shadow: 0px 1px 2px 0px #00000040;

              h1 {
                font-size: 16px;
                font-weight: 400;
                line-height: 19.2px;
                letter-spacing: -0.75px;
                color: #f9f9f9;
              }
              h2 {
                font-size: 12px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0.23000000417232513px;

                color: #f9f9f999;
              }
            }
          }
          .contactadress {
            display: flex;
            align-items: flex-start;
            gap: 18px;
            .contactadressicon {
              padding: 18px;
              background: linear-gradient(
                270deg,
                rgba(0, 170, 255, 0.02) 0%,
                rgba(0, 170, 255, 0) 100%
              );
              border: 1px solid #fbfbfb1a;
            }
            .contactadresslocation {
              display: flex;
              flex-direction: column;
              gap: 11px;
              padding: 17px 27px;
              background: linear-gradient(
                270deg,
                rgba(0, 170, 255, 0.04) 0%,
                rgba(0, 170, 255, 0.02) 100%
              );
              border: 1px solid #fcfcfc0d;
              box-shadow: 0px 1px 2px 0px #00000040;
              width: 223px;

              h1 {
                font-size: 16px;
                font-weight: 400;
                line-height: 19.2px;
                letter-spacing: -0.75px;
                color: #f9f9f9;
              }
              h2 {
                font-size: 12px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0.23000000417232513px;
                color: #f9f9f999;
              }
            }
          }
        }
      }
    }
  }
}
@media(max-width:492px){
  .background{
    .fixedcontrol{
      .control{
        .controlright{
          .righthero{
            .heroheader{
              display: flex;
              flex-direction: column;
              .online{
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
          .aboutme{
            display: flex;
            flex-direction: column;
            .leftabout{

            }
          }
        }
      }
    }
    .projects{
      .maps{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        .border{
          width: auto;
        }
      }
    }
    .customers{
      .customersmarke{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .google{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
        }
      }
      .stats{
        display: flex;
        flex-direction: column;
        .stat{
          width: auto;
        }
      }
    }
    .abouteducation{
      display: flex;
      flex-direction: column;
      .education{
        width: auto;
        .educationinfo{
          .educationabout{
            h1{
              font-size: 13px;
            }
          }
        }
      }
      .aboutexperience{
        width: auto;
        .experienceinfo{
          .experienceabout{
            h1{
              font-size: 13px;
            }
          }
        }
      }
    }
    .services{
      .servicesboxs{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        .servicesborder{
          width: auto;
        }
      }
    }
    .testimonial{
      .testimonialboxs{
        display: flex;
        flex-direction: column;
      }
    }
    .contact{
      .contactboxs{
        display: flex;
        flex-direction: column;
        .leftboxs{
          width: auto;
        }
        .adress{
          width: auto;
        }
      }
    }
  }
}