body {
  font-family: "DM Sans", sans-serif !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  
}
html{
  scroll-behavior: smooth;
}
::-moz-selection {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

::selection {
  color: rgb(0, 0, 0);

  background: rgb(255, 255, 255);

}

